<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Welcome, <%= @minister.name %>!</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h2>Causes you have been tagged</h2>
    </div>
  </div>

  <% @posts.in_groups_of(4, false).each do |group| %>
    <div class="row">
      <% group.each do |post| %>
        <div class="col-xs-4 col-sm-3">
          <div class="card">
            <% if post.cover.exists? %>
              <%= image_tag post.cover.url(:thumb), class: 'card-img-top card-img-full' %>
            <% end %>
            <div class="card-block">
              <!-- <a href="#" class="card-link-full"></a> -->
              <%= link_to(post) do %>
                <h3 class="card-title"><%= post.title %></h3>
              <% end %>
              <p class="card-text"><%= (post.get_upvotes.size + 4) * 124 %>-<%= (post.get_downvotes.size + 4) * 124 %></p>
              <!-- <%= button_to "AGREE", like_post_path(post), method: :put, class: 'btn btn-primary' %> -->
              <!-- <%= button_to "DISAGREE", dislike_post_path(post), method: :put, class: 'btn btn-primary' %> -->
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
