<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="step well">Step 1</div>
<div class="step well">Step 2</div>
<div class="step well">Step 3</div>
<div class="step well">Step 4</div>
<div class="step well">Step 5</div>
<div class="step well">Step 6</div>
<button class="action back btn btn-info">Back</button>
<button class="action next btn btn-info">Next</button>
<button class="action submit btn btn-success">Submit</button>

<%= form_for @post, html: { multipart: true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.trix_editor :content %>
  </div>
  <div class="field">
    <%= f.file_field :cover %>
  </div>
  <div class="field">
    <%= hidden_field_tag "post[minister_ids][]", nil %>
    <% Minister.all.each do |minister| %>
      <%= check_box_tag "post[minister_ids][]", minister.id, @post.minister_ids.include?(minister.id), id: dom_id(minister) %>
      <%= label_tag dom_id(minister), minister.email %><br>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function(){
var current = 1;

widget      = $(".step");
btnnext     = $(".next");
btnback     = $(".back");
btnsubmit   = $(".submit");

// Init buttons and UI
widget.not(':eq(0)').hide();
hideButtons(current);
setProgress(current);

// Next button click action
btnnext.click(function(){
  if(current &lt; widget.length){
                 widget.show();
                 widget.not(':eq('+(current++)+')').hide();
       setProgress(current);
       }
             hideButtons(current);
     })
     // Back button click action
     btnback.click(function(){
              if(current &gt; 1){
    current = current - 2;
    btnnext.trigger('click');
  }
  hideButtons(current);
})
});

// Change progress bar action
setProgress = function(currstep){
var percent = parseFloat(100 / widget.length) * currstep;
percent = percent.toFixed();
$(".progress-bar")
      .css("width",percent+"%")
      .html(percent+"%");
}

// Hide buttons according to the current step
hideButtons = function(current){
var limit = parseInt(widget.length);

$(".action").hide();

if(current &lt; limit) btnnext.show(); 	if(current &gt; 1) btnback.show();
if (current == limit) { btnnext.hide(); btnsubmit.show(); }
}
</script>
