<p id="notice"><%= notice %></p>

<div class="row text-center hero-banner">
<div class="col-md-12">
  <div>
     <%= image_tag('par.jpg', class: 'heroimg') %>
  </div>
  <h1>Digitizing democracy, one cause at a time</h1>
</div>
<div class="col-md-12">
  <%= link_to 'Start a Cause', new_post_path, class: 'btn btn-primary btn-lg btn-line btn-red' %>
</div>
</div>
<div class = "container">
  <% @posts.in_groups_of(3, false).each do |group| %>
<div class = "row">
  <% group.each do |post| %>
  <div class="col-sm-6 col-md-4">
          <div class="panel panel-default">
            <div class="panel-thumbnail">
              <%= image_tag post.cover.url(:thumb) %></div>
            <div class="panel-body">
              <h4 class="lead"><%= link_to post.title, post %></h4>
              <div class = "row">
                <div class="col-md-12">
                  <div class="votesize">
                    <span class = "agdisag">
                      <%= (post.get_upvotes.size + 4) * 124 %>
                    </span>

                      <%= (post.get_downvotes.size + 4) * 124 %>
                  </div>
                </div>
              </div>
                 <div class = "row">
                   <div class = "col-md-12">
                     <%= link_to "AGREE", like_post_path(post), method: :put, class: 'agreebtn' %>
                    <%= link_to "DISAGREE", dislike_post_path(post), method: :put, class: 'disagreebtn' %>
                   </div>
                 </div>
            </div>
          </div>
        </div><!--/col-->
      <% end %>
  </div>
  <% end %>
</div>
  <!--
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>

        <td><%= post.title %></td>
        <td><%= post.content.html_safe %></td>
        <td><%= link_to "upvote", like_post_path(post), method: :put %></td>
        <td><%= post.get_upvotes.size %></td>
        <td><%= link_to "downvote", dislike_post_path(post), method: :put %></td>
        <td><%= post.get_downvotes.size %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->

<br>
<!--

<%= link_to 'New Post', new_post_path %>
<% if user_signed_in? %>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
            <li><%= link_to('Login', new_user_session_path)  %></li>
          <% end %>
        -->
