<p id="notice"><%= notice %></p>

<div class="post">

  <div class="container">

    <div class="row post-header">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="post-title"><%= @post.title %></h1>
        <div class="post-header-meta">
          <em>by</em>
          <%= image_tag('profile-img.jpg', class: 'img-circle img-profile-s') %>
          <span>Anonymous User <em>on</em> 21st Nov 2015</span>
        </div>
      </div>
    </div>
    <div class="row post-body">
      <div class="col-md-8">
        <%= image_tag @post.cover.url(:hero), class: 'img-responsive' %>
        <h4 class="section-head">Tagged Ministers</h4>
        <div class="post-mps">
          <div class="profile-card">
            <a href="#" class="profile-pic">
              <%= image_tag('ravi4.jpg', class: 'img-circle img-profile-m') %>
            </a>
            <div class="profile-text">
              Ravi Karunanayake <br><span>Minister of Finance</span>
            </div>
          </div>
          <div class="profile-card">
            <a href="#" class="profile-pic">
              <%= image_tag('champika.jpg', class: 'img-circle img-profile-m') %>
            </a>
            <div class="profile-text">
              Champika Ranawaka <br><span>Minister of Megapolis and Western Development</span>
            </div>
          </div>
        </div>
        <div class="post-text">
          <%= @post.content.html_safe %>
        </div>
      </div>
      <div class="col-md-4 post-stats">
        <div class="supporters">
          <h2 class="number">11,345</h2>
          <span>supporters</span>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" style="width: 85%">
            85%
          </div>
          <div class="progress-bar progress-bar-danger" style="width: 15%">
            15%
          </div>
        </div>
        <div class="vote">
          <%= button_to like_post_path(@post), method: :put, class: 'btn btn-primary btn-lg' do %>
            <i class="fa fa-thumbs-o-up fa-lg"></i>Support this cause
          <% end %>
          <%= button_to dislike_post_path(@post), method: :put, class: 'btn btn-danger btn-lg' do %>
            <i class="fa fa-thumbs-o-down fa-lg"></i>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>

<p>
  <strong>Ministers:</strong>
  <ul>
  <% @post.ministers.each do |m| %>
    <li><%= m.email %></li>
  <% end %>
  </ul>
</p>
